* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html, body {
  height: 100%;
  display: grid;
  place-items: center
}

body {
  background: url(fundo.png);
  background-size: cover;
}

header h1 {
  font-size: 50px;
}

.pixel {
border: 1px solid black;
width: 40px;
height: 40px;
display: inline-block; 
background-color: white; 
}

main, header h1, footer {
display: flex;
text-align: center;
border: 1px solid black;
padding: 20px;
border-radius: 10px;
background-color: rgb(233, 232, 232);
}

#pixel-board {
height: 100%;
}

.black {
background-color: black;
}

.green {
background-color: green;
}

.yellow {
background-color: yellow;
}

.blue {
background-color: blue;
}

#clear-board {
margin: 10px;
}

#color-palette div {
border: 1px solid black;
width: 40px;
height: 40px;
display: inline-block; 
}


div.pixel-line {
line-height: 0;
}

header, footer {
text-align: center;
margin: 20px
}

